<a href="https://colab.research.google.com/github/iamnaofil/PracticeVisualizations/blob/main/Set_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) Set dont allow duplicates
<br>
2) Set have no indexing/ slicing
<br>
3) Set dont allow mutable data type where as Set is itself Mutable
<br> It means 2D or 3D concept not applicable

**Set is Data Type : Container Data Type**

In [1]:
Set1={1,2,3}
print(Set1)

{1, 2, 3}

Empty Set

In [2]:
set1={} #Its act as Dictionary By Default
print(type(set1))

<class 'dict'>

In [4]:
#Instead we have to do like type converting
set1=set()
print(set1)

set()

In [5]:
#in Python the default { } is for dictionary

**Homogenous Set**

In [7]:
#Same data type and different Data types set
set2={1,2,3,4}
set3={1,2,'3','4'}
print('Homogenous Set :')
print(set2)
print('Hetrogenous Set :')
print(set3)

Homogenous Set :
{1, 2, 3, 4}
Hetrogenous Set :
{1, 2, '4', '3'}

**NO Duplicating**

In [8]:
set4={1,1,1,2,2,3,3,3,4,4,4,4,4,5}
print(set4) #Automatically take unique values

{1, 2, 3, 4, 5}

**set dont allow mutable data type**

In [10]:
set5={'Hello',4,5} #String is immutable,  Tuple is immutable
print(set5)

{4, 'Hello', 5}

In [11]:
type(set5)

set

In [13]:
#Now see can we add a list in Set5
#set6={'Hello',[1,2,3]};print(set6)

#Here error arrise, unhashable type list
#We already discussed that Set dont allow mutable data type

In [29]:
#But thnk if we write it into tuple it will accept
set6={'Hello',(1)}
print(set6)

{1, 'Hello'}

In [16]:
#Set Ordering : Set have No Indexing But instead Hashing

In [30]:
#Set is mutable but support Immutable data inside it
#we can't edit Set
print(id(set6))
list11=list(set6)
print(list11[1])
set6=set(list11[1])

139754740276288
Hello

In [31]:
id(set6)

139754740277184

In [ ]:
#It means Editing is technically not possible in Set

**Add Item in SET**

In [32]:
s={2,3,4,100}
print(s)
print(id(s))

{2, 3, 100, 4}
139754740277408

In [33]:
s.add(6)
print(id(s))
print(s)

139754740277408
{2, 3, 100, 4, 6}

In [ ]:
#THIS WILL BE CALLED AS EDITING because Same Memory Location

**Deleting in SET**

In [34]:
#Using Del
s2={1,2,3}
print(s2)
del s2
print(s2) #S2 Delete

{1, 2, 3}

NameError: ignored

In [36]:
#Using Remove
s2={1,11,2,111,1111,11111,}
s2.remove(2)
print(s2) #Unordered

{1, 1111, 11111, 11, 111}

In [39]:
#Using POP
s2.pop() #Last Inserted will be delete , in my case it delete 1 first,then 1111

11111

In [40]:
#Set Operation : Doesnt Support COncatination or Repeatence for scalar value

In [43]:
#For Loop
set8={2,3,5,3,42,45,33,44,22,11,55,33,66}
print(set8)

{33, 2, 3, 66, 5, 42, 11, 44, 45, 22, 55}

In [46]:
#Operation can be perfomr using loop:
for i in set8:
    print(int(i)/2)

16.5
1.0
1.5
33.0
2.5
21.0
5.5
22.0
22.5
11.0
27.5

**That you studied in college**

**SET UNION**

In [47]:
s1={1,2,3,4,5,6,7,8,9,10,11,12,14}
s2={1,2,3,4,13,15,16}

In [48]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16}

In [51]:
s1.intersection(s2)

{1, 2, 3, 4}

In [52]:
s1.difference(s2)

{5, 6, 7, 8, 9, 10, 11, 12, 14}

In [53]:
s2.difference(s1)

{13, 15, 16}

In [54]:
s1.symmetric_difference(s2)

{5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16}

In [55]:
s2.issubset(s1)

False

In [56]:
s1.issubset(s2)

False

In [57]:
s2.isdisjoint(s1)

False

**Clear Set Copy Set**

In [58]:
s4={1,2,3,4,5,6,7,8,9}
print(s4)
s4.clear()
print(s4)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
set()